.color_1 {
  width: 100px;
  height: 50px;
  background-color: rgb(102, 51, 0);
  padding: 15px;
  margin-left: 30%;
  border-radius: 30px;
  margin-top: 10%;
}
.color_2 {
  width: 100px;
  height: 50px;
  background-color: lightblue;
  padding: 15px;
  border-radius: 30px;
}
.color_3 {
  width: 100px;
  height: 50px;
  background-color: rgb(255, 153, 255);
  padding: 15px;
  border-radius: 30px;
}
.Div {
  width:300px;
  height:100px;
  border:1px solid #000;
  text-align: center;
  margin-left: 30%;
  border-radius: 50px;
}