table {
    padding: 1px;
    background-color: rgba(27, 25, 34);
}

.cell {
    cursor: pointer;
    padding: 48px;
    border: 1px solid black;
    background-color: white;
    font-size: 36px;
}

.game-over-msg {
    display: none;
    position: absolute;
    top: 100px;
    left: 79px;
    padding: 32px;
    background-color: blueviolet;
    color: white;
    z-index: 22;
}