<link rel="stylesheet" href="index.css">

<button id="replay-button">REPLAY</button>
<button id="something">SOMETHING</button>

<table>
    <tr>
        <td class="cell"></td>
        <td class="cell"></td>
        <td class="cell"></td>
    </tr>
    <tr>
        <td class="cell"></td>
        <td class="cell"></td>
        <td class="cell"></td>
    </tr>
    <tr>
        <td class="cell"></td>
        <td class="cell"></td>
        <td class="cell"></td>
    </tr>
</table>
<div class="game-over-msg">GAME OVER</div>
<script src="index.js"></script>