<head>
    <head>
        <title>
            calculator
        
        </title>
    </head>
    <body style="background-color: black;">
        <center>
        <font color = "white">
        <h1>
                <button onclick="minusFunction()">minus</button>

                <script>
                function minusFunction() {
                    document.getElementById("myNumber").stepDown(1);
                }
                </script>
                <input type="number"  id=myNumber value = 0>
                
                <button onclick="plusFunction()">Plus</button>
                
                <script>
                function plusFunction() {
                    document.getElementById("myNumber").stepUp(1);
                }
                </script>
        </h1>
        </font>
        </center>
    </body>
</head>