/*
COLORS:

Light blue: #bbdefb
Medium blue: #42a5f5 
Dark blue: #1976d2

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgb(187,222,251, 0.7), 
        rgb(25,118,210, 0.6)), 
        url(../img/forest.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
}
.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 50px;
}

.text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 70px;
}

.heading-primary-main {
    display: block;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 48px;

    animation-name: toLeft;
    animation-duration: 2.5s;
    animation-delay: 0.25s;
    animation-timing-function: ease-in;
    /* animation-iteration-count: infinite; */
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 17.4px;

    animation-name: toRight;
    animation-duration: 2.5s;
    animation-delay: 0.25s;
    animation-timing-function: ease-out;
    /* animation-iteration-count: infinite; */
}

@keyframes toLeft{
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(5px);
    }

    100% {
        opacity: 1;
        transform:  translate(0);
    }
}

@keyframes toRight{
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-5px);
    }

    100% {
        opacity: 1;
        transform:  translate(0);
    }
}

@keyframes btnIn{
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform:  translate(0);
    }
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(-1px);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-header {
    animation: btnIn .5s ease-out 2s;
    animation-fill-mode: backwards;
}


