.button {
    background-color: white;
    border: 1px solid black;
    color : black;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 4px;
 }
 .label {
    background-color: white;
    border: 1px solid black;
    color : black;
    padding: 10px 40px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 4px;
 }
 .content {
    max-width: 500px;
    margin: auto;
 }