.center{
    margin: auto;
    width: 500px;
    height: 500px ;
    top: 50px;
    padding: 10px;
}
.cen{
    margin: auto;
    width: 500px;
    height: 500px ;
    top: 50px;
    padding: 10px;
}
.button1 {
    width: 50px;
    height: 20px;
    background-color: rgb(241, 114, 125);
    padding: 15px;
    margin-left: 30%;
    border-radius: 4px;
    margin-top: 10%;
}
.button2 {
    width: 50px;
    height: 20px;
    background-color: lightblue;
    padding: 15px;
    margin-left: 4%;
    border-radius: 4px;
}
.button3 {
    width: 50px;
    height: 20px;
    background-color: rgb(104, 238, 104);
    padding: 15px;

    margin-left: 4%;
    border-radius: 4px;
}
.Div {
    width:197px;
    height:100px;
    border:1px solid #000;
    text-align: center;
    margin-left: 30%;
    border-radius: 4px;
}
.tex {
    margin-top : 1%;
}