body {
    background-color:whitesmoke;
  }
  h1 {
    color: black;
  }
  .header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 30px;
  }
.leftcolumn {   
    float: center;
    width: 50%
}
img {
    width: 500px;
    height: 300px;;
}
.rightcolumn {
    float: center + 24%;
    width: 25%
}
  p {
    color: navy;
    }