body {
    background-color: black;
  }  
.button {
    width: 100px;
    height: 50px;
    background-color: white;
    color: black;
    text-align: center;
    line-height: 50px;
    border-radius: 30px;
  }
  .button:hover {
    background-color: gray;
    cursor: pointer;
    cursor: hand;
  }