<head>
    <head>
        <title>
            calculator
        
        </title>
    </head>
    <body style="background-color: black;">
        <center>
        <font color = "white">
        <h1>
                <button onclick="minusFunction()">minus</button>

                <script>
                function minusFunction() {
                    document.getElementById("myNumber").stepDown(1);
                }
                </script>
                <input type="number"  id=myNumber value = 0>
                
                <button onclick="plusFunction()">Plus</button>
                
                <script>
                function plusFunction() {
                    document.getElementById("myNumber").stepUp(1);
                }
                </script>
        </h1>
      
<body>
    <form>
    <div class="form-group purple-border">
        <label for="words"></label>
        <textarea placeholder="Enter your comment" class="form-control" id="words" rows="3" cols="30"></textarea>
    </div>
    <input type="button" onclick="getwords()" value="Add Comment" /> <br>
    <p id="para"></p>
    </form>
    
                        
    <script type="text/javascript">
    function getwords() {
    text = words.value;
    document.getElementById("para").innerHTML += '<p>'+text
    document.getElementById("words").value = ""
    }
    </script>
        </font>
        </center>
    </body>
</head>