body { background: white; height: 200px; background-color: #cccccc; background-image: linear-gradient(#003366,#083363,#0f3361,#17335e,#1f335c,#263359,#2e3357,#363354,#3d3352,#45334f,#4c334c,#54334a,#5c3347,#633345,#6b3342,#733340,#7a333d,#82333b,#8a3338,#913336,#993333)}
header { margin-top: 20px; text-shadow: 5px 5px #808080;}
header a { color: red; text-decoration: none; }
header a:hover { text-decoration: none; }
form { margin-top: 20px; }
form, #results { padding: 0 20px; }
.item { margin-bottom: 25px; }
.w100 { width: 100%; }

.btn-primary { background: darkred; border-color: #957575; }
.btn-primary:hover, .btn-primary:active, .btn-primary:focus { background: red;  border-color: #952b2b; }