body {
    background-color: grey;
    text-align: center;
}

h1 {
    color:blue;
}

button {
    border-radius: 8px;
    width:5%;
}

#add_button {
    background-color: red;
}

#sub_button {
    background-color: red;
}
textarea {
    width:5%;
    text-align: center;
    font-size: 10px;
}

.row_space {
    height: 20px;
}

ul {
    list-style-type: none;
}

#logout_button, #user_photo {
    visibility: hidden
}