.outer_body {
    position: relative;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    height: 600px;
    background-color: whitesmoke;
}     
.profile_pic {
    text-align: center;
    position: relative;
    float: left;
    margin-top: 60px;
    margin-left: 30px;
    width: 300px;  
    height: 300px;
}  
.info {
    position: relative;
    float: right;
    text-align: right;
    margin-top: 60px;
    margin-right: 100px;
    height: 190px;
    text-align: right;
}
.social_container {
    background-color: aliceblue;
    position: absolute;
    width: 920px;
    height: 250px;
    left: 30px;
    right: 30px;
    top: 330px;
} 
.text_container {
    background-color: 8ADFF9;
    position: absolute;
    width: 920px;
    height: 250px;
    left: 30px;
    right: 30px;
    top: 330px;
} 
#social {
    position: relative;
    margin-top: 70px;
    margin-left: 70px;
    float: left;
    height: 100px;
    width: 100px;
}
img {
    border-radius: 50%;
}
#less {
    display: none;
}

#comment {
    position: relative;
    margin-left: 360px;
    margin-top: 25px;
    width: 200px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #8ADFF9;
    font-size: 14px;
    font-style: bold; 
}

#myBtn {
    background-color: #8ADFF9; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right;
}
#add {
    background-color: white; 
    border: none;
    color: #8ADFF9;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#idea {
    display: block;
    margin: 0;
    padding: 4 4;
    color: inherit;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: inherit;
    line-height: 1.2;
    border: none;
    border-radius: 0.4rem;
  }
  #list {
    color: white;
  }