#reset {
    text-align: center;
    position: absolute;
    top: 200px;
    left: 725px;
    height: 30px;
    width: 100px;
    background: rgba(255,255,255,.15);
    color: white;
    border: 2px solid rgba(255,255,255,.75);
    padding: 30px;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 25px;
    transition: 300ms;   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#reset:hover {
    background: rgba(255,255,255,.35);
    cursor: pointer;
    transition: 300ms;
    color: whitesmoke;
}

#game {
    position: absolute;
    left: 650px;
    top: 300px;
    height: 300px;
    width: 300px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}
#first {
    position: absolute;
    float: left;
    background-color: rgb(235,220,210);
    height: 100px;
    width: 100px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    height: 90px;
    width: 90px;
}
#second {
    position: absolute;
    margin-left: 100px;
    background-color: EBDCD2;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    height: 90px;
    width: 90px;
}
#third {
    position: absolute;
    margin-left: 200px;
    background-color: EBDCD2;
    height: 100px;
    width: 100px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    height: 90px;
    width: 90px;
}
#fourth {
    position: absolute;
    background-color: EBDCD2;
    margin-top: 100px;
    height: 100px;
    width: 100px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    height: 90px;
    width: 90px;
}
#fifth {
    position: absolute;
    background-color: EBDCD2;
    margin-top: 100px;
    margin-left: 100px;
    height: 100px;
    width: 100px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    height: 90px;
    width: 90px;
}
#sixth {
    position: absolute;
    background-color: EBDCD2;
    margin-top: 100px;
    margin-left: 200px;
    height: 100px;
    width: 100px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    height: 90px;
    width: 90px;
}
#seventh {
    position: absolute;
    background-color: EBDCD2;
    margin-top: 200px;
    height: 100px;
    width: 100px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    height: 90px;
    width: 90px;
}
#eigth {
    position: absolute;
    background-color: EBDCD2;
    margin-top: 200px;  
    margin-left: 100px;
    height: 100px;
    width: 100px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    height: 90px;
    width: 90px;
}
#nineth {
    position: absolute;
    background-color: EBDCD2;
    margin-top: 200px;  
    margin-left: 200px;
    height: 100px;
    width: 100px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    height: 90px;
    width: 90px;
}